// CCP Dark Blue #29485d
// CCP Light Blue #00b1ea
// CCP Minerva Green #006c66
// CCP Light Green #c6d325

@use "@material/theme" with (
  $primary: #29485d,
  $on-primary: #eeeeee
);

@use '@material/button/mdc-button';
@use '@material/button';
@use "@material/checkbox";
@use "@material/form-field";

@include checkbox.core-styles;
@include form-field.core-styles;

// .foo-button {
//   @include button.container-fill-color(#29485d);
// }

body {
  font-family: "PT Sans Narrow", sans-serif;
  background-color: #006c66;
  // overflow: hidden;
}

#flex-wrapper {
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
}

.flex-item {
  width: 70vw;
  margin-bottom: 5vh;
}

// mail encryption
.cryptedmail:after {
  content: attr(data-name) "@" attr(data-domain) "." attr(data-tld);
}
