/* 
  CCP Dark Blue #29485d
  CCP Light Blue #00b1ea
  CCP Minerva Green #006c66
  CCP Light Green #c6d325
*/

body {
  font-family: "PT Sans Narrow", sans-serif;
  background-color: #006c66;
  color: hsl(0 0 10%);
}

.heading {
  font-family: cholla-sans, sans-serif;
  font-weight: 700;
  letter-spacing: calc(20rem / 1000);
  color: hsl(177deg 100% 21%);
}

.heading-em {
  font-family: cholla-sans, sans-serif;
  font-weight: 700;
  font-style: italic;
  letter-spacing: calc(20rem / 1000);
  color: hsl(177deg 100% 21%);
}

.text {
  font-family: pt-sans-narrow, sans-serif;
  font-weight: 400;
  color: hsl(0 0% 10%);
}

.text-strong {
  font-family: pt-sans-narrow, sans-serif;
  font-weight: 700;
  color: hsl(0 0% 20%);
}

#flex-wrapper {
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  background-color: #faf5e7;
}

.flex-item {
  width: 70vw;
  margin-bottom: 5vh;
}

/* mail encryption */
.cryptedmail:after {
  content: attr(data-name) "@" attr(data-domain) "." attr(data-tld);
}

.webcam-text {
  font-size: 1.2rem;
}

#footer {
  height: 8rem;
  text-align: center;
  margin-top: 20px;
}

#logo {
  height: 8rem;
}
